.menuItemText {
  color: white;
}

.grid {
  margin: 10px;
}

.interface {
  display: flex;
  justify-content: space-between;
  outline: 1px solid black;
}

.mobile-response {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.mobile-response .mobile-text {
  background: black;
  color: white;
}

/* Potential cursor change */
/* .cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid block;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: background, border, transform;
  transform-origin: 150% 150%;
  z-index: 999;
} */