.grid {
  margin: 10px;
}

.interface {
  display: flex;
  justify-content: space-between;
  outline: 1px solid black;
}

.mobile-response {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.mobile-response .mobile-text {
  background: black;
  color: white;
}