.interface {
  outline: 2px solid black;
}

.interface .interface-appbar #interface-checkboxes {
  text-align: left;
}

.legend {
  margin: 10px 0 0 0;
}

.legend > ul {
  margin: 0;
}

.legend > ul li {
  display: inline-block;
  padding: 0 25px 0 25px;
}

.grid-content {
  display: inline-block;
  width: min-content;
}

.grid-content .grid {
  margin: 10px;
  display: inline-block;
  outline: 3px solid #3f51b5;
  width: max-content;
}

.grid-content .grid .row {
  margin: -3px;
}

.mobile-response {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: black;
  color: white;
}